@charset "ISO-8859-1"; 

.material-icons.md-36 { font-size: 36px; }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.bg-blue  { background-color: rgb(26, 70, 140);}

/* stilizare seach */
.search {
    padding-top: 50px;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
    width: calc(50%);
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dropdown {
    position:static !important;
}

/*  end stilizare seach */

/* stilizare tabel */
.thead-color{
  background-color:  rgb(26, 70, 140);
}
.table{
margin-top: 20px;
/*
width: 80%;
margin-left: auto;
margin-right: auto;*/
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
